#Python 

__pycache__/

# Virtual environments
.venv/
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Settings
deps/
.env
workspace/
 
#Large/generated datasets copied into this project
juliet-java-test-suite/
java_sard_source_sink/
joern/
